.card-login {
  background-color: #101d24;
  background-color: #274555;
  width: 320px;

  border-radius: 15px;
  padding: 20px;

  display: flex;
  flex-flow: column;
  gap: 25px;
}

.card-login h2 {
  color: #fff;
  text-align: center;
}
