.card__friendchat {
  border-bottom: 0.5px solid rgb(63, 90, 89);
  height: 70px;
  display: flex;
  padding: 10px 10px;
  align-items: center;
}

.card__img {
  width: 50px;
  height: 50px;
}

.card__img img {
  display: block;
  max-width: 100%;
}

.card__info {
  height: 70px;
  padding: 0 0 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__info .name {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.card__info > .message_preview {
  max-width: 320px;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(165, 165, 165);
}

.card__info .message_date {
  position: absolute;
  right: 0;
  top: 10px;
}
