.auth-forms {
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.auth-items {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 465px;
}

.auth-forms > .item--img > img {
  display: block;
  max-width: 70%;
}

.item--form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.main-auth {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 65vh;
}

.navegation-auth {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegation-item span {
  color: #c5c5c5;
  font-weight: bold;
  cursor: pointer;
}

.current-form {
  text-decoration: underline 3px #c2c2c2;
  text-underline-offset: 2px;
}

@media (max-width: 400px) {
  .auth-items {
    width: 100%;
  }

  .item--img {
    height: auto;
  }
}
