.private__main {
  max-height: calc(100vh - 160px);
  position: relative;
}
.messages_container {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 10;
  max-height: calc(100vh - 220px);
  overflow-y: scroll;
  max-width: inherit;
}

.private__main::before {
  content: "";
  position: absolute;
  background-image: url(../../assets/img/private_back.png);
  background-color: #2a4f69;
  width: 100%;
  opacity: 0.08;
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  z-index: 0;
}
