.main_chat {
  width: 100%;
  height: 100%;
  background-color: #222e35;
  position: relative;
}

.main_chat-img > img {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.message_view {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  position: relative;
}

.message_input {
  height: 80px;
  width: 80%;
  margin: auto;
  position: relative;
  top: calc(100% - 80px);
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_view {
  position: absolute;
}

.message_input button {
  background-color: red;
  height: 45px;
  width: 60px;
  border-radius: 10px;
}
