.topbar_chat {
  background-color: #202c33;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-chat {
  display: none;
}

.topbar_chat p {
  cursor: pointer;
  font-size: 1.5rem;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-container .profile-item-img {
  width: 50px;
}

.profile-container .profile-item-img img {
  display: block;
  max-width: 100%;
}

@media (max-width: 770px) {
  .toggle-chat {
    display: block;
  }
}