.topbar_chat {
  background-color: #202c33;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;

}

.topbar_chat p {
  cursor: pointer;
  font-size: 1.5rem;
}

.profile-container {
  width: 50px;
  margin-right: 20px;
}

.profile-container img {
  display: block;
  max-width: 100%;
}