.card-register {
  padding: 20px;
  color: #fff;
  width: 320px;

  background-color: #101d24;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-register h2 {
  text-align: center;
}
