.msg_current_user {
  align-self: end;
  background-color: #005c4b;
  border-radius: 5px;
  font-weight: bold;
  max-width: 430px;
  width: auto;
  box-sizing: border-box;
  padding: 10px 20px;
}

.msg_current_user > .username {
  color: rgb(168, 168, 168);

}

.msg{

}

.text-msg {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  max-width: 100%;
  word-wrap: break-word;
}
