.msg_current_user {
  background-color: #005c4b;
  align-self: end;
  width: 430px;
  height: auto;
  border-radius: 10px;
  padding: 0.3rem 1rem;
  font-weight: bold;
}

.msg_current_user > .username {
  color: rgb(168, 168, 168);
}

.msg_current_user > .msg {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
