.window-main {
  width: 98%;
  background-color: #0a1014;
  border-radius: 3px;
  max-height: calc(100vh - 46px);
  overflow: hidden;

  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: calc(100vh - 46px);
  gap: 0px 0px;
  grid-template-areas:
    "sidebar chat chat"
    "sidebar chat chat";
}

.friends__chat_container {
  padding: 10px 10px;
  overflow-y: scroll;
  max-height: calc(100vh - 194px);
}


::-webkit-scrollbar {
  display: none;
}

.sidebar__search__friends {
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar {
  grid-area: topbar;
}

.sidebar {
  grid-area: sidebar;
  height: calc(100vh - 46px);

}

.chat {
  max-height: calc(100vh - 46px);
  position: relative;
  grid-area: chat;
}




@media (max-width: 770px) {

  .window-main {
    position: relative;
    grid-template-columns: 1.4fr 0.8fr 0.8fr;
    grid-template-areas:
      "chat chat chat chat"
      "chat chat chat chat";
  }

  .sidebar {
    position: absolute;
    z-index: 90;
  }

}