.wrapper_inputmsg {
  height: 80px;
  background-color: #202c33;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.wrapper_inputmsg .input__form--border {
  width: 100%;
}
